/* Page Styles
================================ */

body {
  margin: 0;
  outline: 0;
  padding: 0;
}

body {
  font: 100%/1.2 Arial, Helvetica, sans-serif;
  color: #383838;
  background-color: #fff;
}

a {
  text-decoration: none;
}

html,
body,
.container,
main,
.page-sidebar {
  height: 100%;
}

.page-header:before,
.page-header:after,
.page-nav:before,
.page-nav:after,
main:before,
main:after {
  content: " ";
  display: table;
  clear: both;
}

h1,
h2,
h3 {
  font-weight: normal;
}

/* Column Layout
================================ */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.page-sidebar,
.page-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.page-sidebar {
  padding: 10px;
  width: 21%;
  float: left;
  margin-bottom: 50px;
}

.page-content {
  width: 78%;
  float: right;
}

/* Media Queries
================================ */

@media screen and (max-width: 1200px) {
  .page-sidebar {
    width: 245px;
  }

  .page-content {
    width: auto;
    margin-left: 260px;
    float: none;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 90%;
  }

  .container {
    width: 800px;
  }
}

/* Print Styles
================================ */

@media print {
  .page-sidebar,
  nav {
    display: none;
  }

  .page-content {
    width: 100%;
  }
}

/* Header, Navigation & Main Styles
================================ */

/* Header */

.page-header {
  padding: 10px 0 20px 10px;
  border: 2px solid #383838;
  background: #ccc;
}

.page-logo img {
  display: block;
}

.page-logo,
.page-title {
  float: left;
}

.page-title {
  font-size: 2rem;
  margin: 0 0 0 10px;
  text-transform: uppercase;
  line-height: 1;
}

.page-title span {
  display: block;
  font-size: 1.1rem;
}

/* Navigation */

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu a {
  display: inline-block;
  font-size: 1rem;
  background: #383838;
  color: #fff;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.menu a:hover,
.item-selected a {
  color: #383838;
  background: #fff;
}

/* Main Navigation */

.page-nav {
  background: #383838;
  margin-bottom: 0.7rem;
}

.main-nav li,
.main-nav {
  float: left;
}

.main-nav a {
  padding: 0.7rem 1rem;
}

/* Sidebar */

.page-sidebar {
  background: #ccc;
}

/* Sidebar Navigation */

.secondary-nav a {
  width: 100%;
  text-align: center;
  line-height: 3rem;
}

.secondary-nav a:hover {
  text-decoration: underline;
}